body{
    background-image: url("images/jess-bailey-l3N9Q27zULw-unsplash.jpg");
    background-size:contain;
    background-position: center;
}
/* 
.upper-container{
    background-image: url("images/jess-bailey-l3N9Q27zULw-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
} */

form{
    background-color: gray;
}

.card-img-top{
    height: 422px;
    width: 328px;
}

